.container {
  margin: auto;
  width: 75vw;
  padding: 4rem 0;
}

.pagination_wrap {
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.empty_msg {
  text-align: center;
}

.error_msg {
  text-align: center;
  color: var(--color-quaternary);
}
